@font-face {
    src:url('../assets/fonts/segoesemibold.ttf') format('truetype');
    font-family: 'Segoe UI Semibold';
}
@font-face {
    src:url('../assets/fonts/segoeregular.ttf') format('truetype');
    font-family: 'Segoe UI Regular';
}
@font-face {
    src:url('../assets/fonts/segoebold.ttf') format('truetype');
    font-family: 'Segoe UI Bold';
}
