.user-dashboard-1 {
    display: none;
}
.user-dashboard-2 {
    display: block;
}
.send-invoice-info input {
    width: 355px;
}
.service-inputs  input {
    width: 155px;
}
.items-service-send {
    display: none;
}
.items-service-send-open {
    display: flex;
}
.items-service-send-2 {
    display: none;
}
.items-service-send-open-2 {
    display: flex;
}




@media(max-width: 992px) {
    .items-service-send.send-invoice {
        justify-content: flex-start;
        margin-left: 36px;
    }
    .items-service-send .send-invoice-content {
        margin-right: 0;
    }
}

@media(max-width: 767px) {
    .send-invoice-info input {
        width: 75%;
    }
    .service-inputs input {
        width: 30% !important;
    }
    .items-service-send.send-invoice {
        justify-content: center;
        margin-left: 0;
    }
}
@media(max-width: 580px) {
    .send-invoice-info input {
        font-size: 12px;
        width: 68%;
    }
    .send-invoice-info label {
        font-size: 14px;
    }
    .send-invoice-btns {
        flex-direction: column;
    }
    .send-invoice-btns > a {
        margin-bottom: 15px;
        font-size: 10px;
    }
    .send-invoice-title {
        padding: 15px;
    }

}
