.invoice-template,
.invoice-template-2 {
    max-width: 72%;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 135px;
    z-index: 111;
    border: 1px solid #58595B;
}
.invoice-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.invoice-back span {
    padding-right: 6px;
}
.invoice-back img {
    margin-right: 5px;
}
a.invoice-back:hover {
    cursor: pointer;
    color: #8DC63F;
    text-decoration: none;
}
.invoice-title {
    height: 195px;
    background: #69A11B;
    font-family: 'Segoe UI Semibold';
    color: white;
    padding: 30px;
}
.invoice-template-content {
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.invoice-template-info {
    max-width: 968px;
    margin: 0 auto;
    padding: 40px 0 100px;
}
.invoice-title-24 {
    font-size: 24px;
    margin-top: 10px;
}
.invoice-title-20 {
    font-size: 20px;
    margin-top: 15px;
}
.invoice-title-27 {
    font-size: 27px;
}
.custom-input {
    display: none;
}
.due-date-issue-select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    width: 180px;
    padding-left: 2px;
    margin-bottom: 10px;
}
.invoice-title input {
    width: 100px;
    color: white;
    border: 0;
    background: transparent;
    text-align: right;
    border-bottom: 1px solid silver;
}
.invoice-title input::placeholder {
    color: white;
}
.company-logo-file {
    border: 1px solid #707070;
    width: 458px;
    height: 162px;
}
.company-logo-file:hover {
    cursor: pointer;
}
.company-logo-file label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.date-issue {
    height: 162px;
}
.invoice-part-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.date-issue-text-1 {
    color: #8DC63F;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
}
.date-issue-text-2 {
    color: #58595B;
    font-size: 17px;
    width: 180px;
    margin-bottom: 22px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.invoice-part-2 {
    display:flex;
    justify-content: flex-start;
    margin-top: 100px;
}
.date-issue-text-3 {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Bold';
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #fff;
}
.open-close-user-block {
    width: 280px;
    height: 200px;
    border: 1px solid #707070;
    padding: 20px 28px;
}
.open-clickable {
    display: none;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 81px;
    width: 225px;
    border: 1px solid #707070;
    padding: 10px 28px 30px 28px;
    background: white;
    z-index: 111111111;
}
.open-close-user span {
    font-size: 18px;
    font-family: 'Segoe UI Regular';
    color: #AFACAC;
    margin-left: 20px;
}
.open-close-user  div {
    margin-top: 10px;
}
.open-close-user  div:hover {
    cursor: pointer;
}
.samll-icons {
    position: absolute;
    top: -16px;
    left: -16px;
}
.date-issue-text-3:focus,
.date-issue-text-4:focus {
    border: 1px solid #707070;
}
.date-issue-text-4 {
    color: #58595B;
    font-size: 22px;
    line-height: 38px;
    font-family: 'Segoe UI Semibold';
    border: 0;
    padding-left: 10px;
    border: 1px solid #fff;
}
.date-issue-text-5 {
    color: #8DC63F;
    font-size: 20px;
    line-height: 38px;
    padding-left: 10px;
    font-family: 'Segoe UI Semibold';
}
.invoice-template-block {
    text-align: left;
    width: 445px;
}
.invoice-part-3 {
    margin-top: 60px;
    padding:0 35px;
    height: 53px;
    background: #8DC63F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invoice-part-4 {
    margin-top: 30px;
    padding:0 35px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invoice-part-3-desc {
    width: 60%;
}
.invoice-part-3-price {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.invoice-part-6 {
    color: #fff;
    font-size: 20px;
    width: 80px;
    text-align: center;
    font-family: 'Segoe UI Semibold';
}
.invoice-part-7 {
    color: #58595B;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Segoe UI Semibold';
}
.invoice-part-5 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.invoice-part-14 {
    height: 53px;
    padding: 0 35px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.invoice-part-14-text {
    width: 100px;
    font-family: 'Segoe UI Regular';
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
}
.invoice-part-14 select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 44%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.invoice-part-14 .invoice-part-3-desc {
    display: flex;
    justify-content: space-between;
}
.equal-part {
    text-align: left;
}
.equal-part-2 {
    text-align: left;
    width: 100%;
}
.invoice-part-10 {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.invoice-part-10-text {
    color: #8DC63F;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Segoe UI Semibold';
}
.invoice-part-10 input {
    width: 390px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 17px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 15px;
}
.invoice-part-10-text2 {
    color: #58595B;
    font-size: 22px;
    font-family: 'Segoe UI Semibold';
}
.invoice-footer {
    height: 40px;
    background: #8DC63F;
    border-radius: 4px;
}
.company-logo {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 24px;
}
.select-a-file {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 24px;
    margin-top: 5px;
}
.send-invoice {
    position: absolute;
    z-index: 5555555;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.send-invoice-top {
    position: absolute;
    top: -22px;
    right: -1px;
}
.send-invoice-content {
    margin-right: 185px;
    margin-top: 20px;
    background: white;
    position: relative;
    width: 500px;
    border: 1px solid #969696;
}
.send-invoice-title {
    padding: 30px 20px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}
.send-invoice-title p {
    text-transform: uppercase;
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
}
.send-invoice-info {
    padding: 30px 20px 0 30px;
}
.send-invoice-info input {
    width: 380px;
    padding: 4px 12px;
    border: 1px solid #707070;
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.send-invoice-info select {
    width: 380px;
    padding: 4px 12px;
    border: 1px solid #707070;
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.send-invoice-info label {
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.send-invoice-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.send-invoice-info textarea {
    padding: 4px 12px;
    color: #AFACAC;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    height: 141px;
    width: 380px;
    border: 1px solid #707070;
    margin-bottom: 30px;
}
.send-invoice-btns {
    border-top: 1px solid #707070;
    padding: 14px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-invoice-cancel-btn {
    text-transform: uppercase;
    border-radius: 32px;
    border: 1px solid #58595B;
    color: #58595B !important;
    background: transparent;
    width: 157px;
    height: 40px;
    font-size: 16px;
    font-family: 'Segoe UI Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.send-invoice-cancel-btn:hover {
    cursor: pointer;
    border: 1px solid #69A11B;
    background: #69A11B;
    color: white !important;
}
.send-invoice-send-btn {
    text-transform: uppercase;
    border-radius: 32px;
    color: white !important;
    border: 1px solid #69A11B;
    background: #69A11B;
    font-family: 'Segoe UI Regular';
    width: 157px;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.send-invoice-send-btn:hover {
    cursor: pointer;
    border: 1px solid #707070;
    color: #707070 !important;
    background: transparent;
}
.out-data p {
    width: 42%;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    color: #AFACAC;
}
.open-send-invoice-popup {
    display: none;
}
.invoice-template-2 .invoice-part-3 {
    background: #fff;
}
.invoice-template-2 .invoice-part-6 {
    color: #9F6E17;
}
.invoice-template-2 .invoice-part-7 {
    width: 120px;
}
.invoice-part-3-price-2 {
    background: #9F6E17;
    padding: 11px;
}
.invoice-part-3-price-2 .invoice-part-7 {
    background: #9F6E17;
    color: #fff;
}
.invoice-template-2 .invoice-part-4 {
    margin-top: 0;
}
.invoice-template-2 .invoice-part-10-text{
    color:  #9F6E17;
}
.invoice-template-2 .invoice-part-10:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.invoice-template-2 .date-issue-text-10 {
    color: #58595B;
    border: 0;
    font-size: 19px;
    height: 39px;
    width: 100%;
}
.invoice-template-2 .invoice-part-10  input {
  padding-left: 0;
}
.border-bronze {
    border-left: 2px solid #9f6e17;
    padding-left: 20px;
}
.invoice-template-2 .invoice-title {
    background: white;
}
.invoice-part-bronze-2-left {
    width: 50%;
    padding: 5px;
    height: 200px;
    background: #9F6E17;
}
.invoice-part-bronze-2-right {
    width: 50%;
}
.invoice-part-bronze-2 {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.invoice-template-2 .date-issue-text-4::placeholder,
.invoice-template-2 .date-issue-text-3::placeholder {
    color: white !important;
}
.invoice-template-2 .date-issue-text-4 {
    color: white;
    font-size: 17px;
    line-height: 28px;
    width: 100%;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    background: transparent;
    border: 0;
}
.invoice-template-2 .date-issue-text-3 {
    color: white !important;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    background: transparent;
    border: 0 !important;
}
.invoice-template-2 .invoice-title-27 {
    font-size: 36px;
    color: #9f6e17;
}
.input-number-bronze {
    color: #9F6E17;
    border: 0;
    text-align: right;
}
.invoice-template-2 .date-issue-text-1 {
    color: #9F6E17;
}
.invoice-template-2 .date-issue {
    height: 55px;
    padding: 0 0 0 30px;
}
.invoice-template-3 .invoice-part-10-text {
    color: #2265D6;
}
.invoice-template-3 .invoice-footer {
    background: white;
}
.invoice-template-3 .invoice-part-3 {
    background: white;
    border-bottom: 1px solid #707070;
}
.invoice-template-3 .invoice-part-6 {
    color: #2265D6;
}
.invoice-template-3 .date-issue-text-5 {
    color: #2265D6;
}
.invoice-template-3 .invoice-template-white-title {
    height: 70px;
    border-bottom: 1px solid #707070;
    position: relative;
}
.invoice-template-3 .invoice-title {
    background: white;
}
.invoice-template-3 .invoice-template-white .invoice-part-1 {
    position: absolute;
    top: 33px;
    width: 190px;
    left: 33%;
    background: white;
}
.invoice-template-3 .invoice-title-27 {
    color: #2265D6;
    position: absolute;
    right: 11px
}
.invoice-template-3 .date-issue-text-1 {
    color: #2265D6;
}
.invoice-template-3 .invoice-title-20 {
    color: #2265D6;
}
.invoice-template-3 .invoice-title-24 {
    color: #58595B;
}
.invoice-template-3 .invoice-title input {
    color: #58595B;
    border-bottom: 1px solid #58595B;
}
.invoice-template-3 .invoice-title input::placeholder {
    color: #58595B;
}
.invoice-template-3 .invoice-template-content {
    max-width: 968px;
    margin: 84px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.invoice-template-3 .company-logo-file {
    background: white;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.invoice-template-3 .invoice-part-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    width: 100%;
}
.invoice-template-3 {

}
.invoice-template-3 {

}
.invoice-template-3 {

}
.invoice-template-3 {

}
.invoice-template-3 {

}
.invoice-template-3 {

}
.invoice-template-3 {

}
.invoice-template-3 {

}





@media (min-width: 1920px) {
    .invoice-template,
    .invoice-template-2 {
        max-width: 1200px;
        margin-left: 30%;
    }
}
@media (max-width: 1700px) {
    .invoice-template,
    .invoice-template-2 {
        margin-right: 40px;
    }
}
@media (max-width: 1400px) {
    .invoice-template-2 .invoice-part-3-price {
        width: 52%;
    }
    .invoice-template-info {
        max-width: 100%;
        padding: 30px 20px;
    }
    .invoice-title {
        padding: 30px 20px;
    }
}
@media (max-width: 1200px) {
    .invoice-part-bronze-2-left {
        width: 300px;
    }
    .invoice-part-bronze-2 {
        width: 100%;
        padding: 20px 21px;
    }
    .invoice-template-2 .date-issue {
        height: 55px;
        padding: 0 0 0 4px;
    }
    .invoice-template-2 .date-issue > div {
        height: 55px;
        display: flex;
        flex-direction: column;
    }
    .invoice-template-2 .date-issue-text-1 {
        color: #9F6E17;
    }
    .date-issue-text-2 {
        font-size: 16px;
    }
    .open-close-user {
        width: 180px;
        padding: 10px 8px 9px 16px;
    }
    .invoice-part-10-text2 {
        font-size: 17px;
    }
    .invoice-part-10 input {
        width: 100%;
        height: 46px;
    }
    .invoice-part-10-text {
        font-size: 17px;
    }
    .equal-part {
        width: 45%;
    }
    .invoice-part-6,
    .invoice-part-3,
    .invoice-part-4,
    .invoice-part-14 {
        padding: 0 5px;
    }
    .invoice-part-3-desc {
        width: 50%;
    }
    .invoice-part-14-text {
        font-size: 14px;
    }
    .invoice-part-3-price {
        width: 50%;
        justify-content: space-between;
    }
    .invoice-part-6 {
        font-size: 16px;
        display: flex;
        justify-content: center;
        width: 100px;
    }
    .invoice-part-4 {
        margin-top: 0;
    }
    .invoice-part-7 {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    .invoice-template-block {
        width: 50%;
    }
    .date-issue-text-5 {
        font-size: 16px;
        line-height: 32px;
    }
    .date-issue-text-3 {
        font-size: 18px;
        line-height: 32px;
    }
    .date-issue-text-4 {
        font-size: 17px;
        line-height: 32px;
    }
    .invoice-template,
    .invoice-template-2 {
        max-width: 65%;
    }
    .invoice-title-24 {
        font-size: 20px;
    }
    .invoice-title-20 {
        font-size: 14px;
        margin-top: 6px;
    }
    .invoice-title {
        height: 140px;
        padding: 10px 20px;
    }
    .invoice-title-27 {
        font-size: 22px;
    }
    .invoice-title-24 {
        font-size: 18px;
    }
    .company-logo-file {
        width: 330px;
        height: 145px;
    }
    .company-logo {
        font-size: 20px;
    }
    .select-a-file {
        font-size: 20px;
    }
    .date-issue-text-1 {
        font-size: 18px;
    }
    .date-issue-text-2 {
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    .invoice-template,
    .invoice-template-2 {
        max-width: 85%;
        margin-right: 20px;
    }
    .send-invoice-content {
        margin-right: 125px;
    }
}
@media (max-width: 767px) {
    .invoice-template-2 .invoice-title-27,
    .invoice-title-20,
    .input-number-bronze {
        margin-left: 5px;
    }
    .invoice-part-bronze-2-left {
        width: 57%;
    }
    .input-number-bronze {
        text-align: left;
    }
    .invoice-title-27, .invoice-title-20, .invoice-title-24 {
        text-align: left;
    }
    .invoice-part-bronze-2 {
        flex-direction: column;
    }
    .invoice-part-3-price-2 .invoice-part-7 {
        background: transparent;
        color: #58595B;
    }
    .invoice-part-3-price-2 {
        background: transparent;
    }
    .invoice-template-2 .date-issue-text-10 {
        color: #58595B;
        border: 0;
        font-size: 17px;
        height: 33px;
        width: 100%;
    }
    .invoice-template-2 .invoice-part-10:last-child {
        align-items: flex-start;
    }
    .border-bronze {
        border-left: 0;
        padding-left: 0;
    }
    .send-invoice {
        justify-content: center;
    }
    .send-invoice-top {
        display: none;
    }
    .send-invoice-content {
        margin-right: 0;
        width: 93%;
    }
    .open-close-user {
        right: -20px;
    }
    .invoice-part-10 {
        flex-direction: column;
    }
    .equal-part {
        width: 98%;
    }
    .invoice-part-3-desc {
        width: 100%;
    }
    .invoice-part-10 input {
        font-size: 14px;
    }
    .invoice-part-10-text {
        margin-top: 10px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .invoice-part-14 {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .invoice-part-14 select {
        font-size: 14px;
        margin-top: 10px;
    }
    .invoice-template,
    .invoice-template-2 {
        max-width: 92%;
    }
    .company-logo-file {
        width: 57%;
        height: 132px;
        margin-bottom: 21px;
    }
    .date-issue-text-2 {
        font-size: 18px;
    }
    .date-issue-text-1 {
        font-size: 16px;
    }
    .company-logo {
        font-size: 17px;
    }
    .select-a-file {
        font-size: 17px;
    }
    .invoice-back {
        left: -3px;
        top: -35px;
    }
    .invoice-back img {
        width: 8px;
    }
    .invoice-back span {
        font-size: 14px;
    }
    .invoice-part-10 {
        margin-top: 15px;
    }
}
@media (max-width: 580px) {
    .invoice-template-3 .invoice-title-24 {
        color: #58595B;
        text-align: center;
        width: 100%;
    }
    .invoice-template-3 .invoice-number-4 {
        width: 100%;
    }
    .invoice-template-3 .invoice-title-28 {
        text-align: center;
    }
    .invoice-template-3 .company-logo-file {
        width: 56%;
    }
    .invoice-template-3 .invoice-template-content {
        margin: 34px auto 0;
    }
    .invoice-template-3 .invoice-title-27 {
        font-size: 15px;
    }
    .invoice-part-bronze-2 {
        width: 100%;
        padding: 0 21px;
    }
    .invoice-template-2 .date-issue-text-3 {
        color: white !important;
        font-size: 16px;
        line-height: 26px;
    }
    .invoice-template-2 .date-issue-text-4 {
        color: white;
        font-size: 15px;
        line-height: 26px;
    }
    .invoice-template-2 .invoice-title-27,
    .invoice-title-20,
    .input-number-bronze {
        margin-left: 0;
    }
    .invoice-title-27, .invoice-title-20, .invoice-title-24 {
        text-align: center;
    }
    .input-number-bronze {
        text-align: center;
    }
    .invoice-part-bronze-2-right {
        width: 100%;
    }
    .invoice-part-bronze-2-left {
        width: 100%;
    }
    .send-invoice-send-btn,
    .send-invoice-cancel-btn {
        width: 47%;
        font-size: 13px;
        height: 34px;
    }
    .invoice-template-2 .invoice-title-27 {
        font-size: 30px;
    }
    .send-invoice-title p {
        font-size: 16px;
    }
    .send-invoice-info input {
        width: 80%;
    }
    .send-invoice-btns {
        padding: 15px 10px;
    }
    .send-invoice-info {
        padding: 20px 10px;
    }
    .invoice-part-10-text2 {
        font-size: 13px;
    }
    .invoice-part-14 .invoice-part-3-desc {
        flex-direction: column;
    }
    .invoice-part-14 select {
        width: 100%;
    }
    .invoice-part-14 {
        height: auto;
    }
    .invoice-part-6 {
        font-size: 13px;
    }
    .invoice-part-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .invoice-template-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .invoice-template-block {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .invoice-part-2 {
        margin-top: 20px;
    }
    .invoice-title-24 span {
        display: none;
    }
    .invoice-title {
        height: auto;
    }
    .invoice-back {
        left: 4px;
    }
    .invoice-part-1 {
        flex-direction: column;
    }
    .company-logo-file {
        width: 100%;
    }
    .date-issue {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .date-issue p {
        width: 150px;
    }
    .invoice-title-name {
        padding-left: 8px;
        font-size: 13px;
    }
    .invoice-template-info {
        max-width: 100%;
        padding: 30px 6px;
    }
    .invoice-template,
    .invoice-template-2 {
        margin-right: 0;
        margin: 46px auto;
    }
    .exp-clients-btn,
    .new-clients-btn {
        width: 200px;
    }
    .date-issue-text-4 {
        font-size: 15px;
        line-height: 28px;
    }
    .date-issue-text-3,
    .date-issue-text-4 {
        text-align: center;
        padding-left: 0;
        width: 100%;
    }
    .open-close-user img {
        width: 16px;
    }
    .open-close-user span {
        font-size: 15px;
        margin-left: 12px;
    }
    .open-close-user {
        right: 0;
        top: 290px;
        width: 118px;
        padding: 8px 8px 18px 8px;
    }
}

