.dashboard-company-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 260px 20px 60px 20px;
}
.dashboard-company-content form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.base-select,
.dashboard-form .input-rate {
    width: 110px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 14px;
}
.open-close-menu {
    overflow-y: auto;
}
.standart-rate {
    display: none;
}
#style-2::-webkit-scrollbar-track
{
    background-color: #9B9B9B;
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: #9B9B9B;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9B9B9B;
}


.base-select-block img {
    pointer-events: none;
    position: absolute;
    left: 236px;
    top: 21px;
}
.base-select-block select {
    -webkit-appearance: none;
    position: relative;
    color: #58595B;
}
.address-select img {
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 24px;
}
.address-select select {
    -webkit-appearance: none;
    position: relative;
    width: 450px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 14px;
    color: #58595B;
}
@media (max-width: 1600px) {
    .dashboard-company-content form {
        flex-direction: column;
        margin-left: 90px;
    }
    .dashboard-company-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 20px;
    }
}
@media (max-width: 992px) {
    .dashboard-company-content form {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .standart-rate {
        display: inline-block !important;
        color: #495057;
        margin-left: 11px;
    }
    .base-select-block span {
        display: none;
    }
    .base-select-block img {
        left: 220px;
    }
    .address-select select {
        width: 100%;
    }
    .form-all-content {
        width: 100%;
    }
    .address-select img {
        right: 15px;
        top: 46px;
    }
    .base-select-block {
        flex-direction: column;
    }
    .base-select-block select {
        width: 100%;
    }
    .base-select, .dashboard-form .input-rate {
        width: 100%;
    }
    .base-select-block > div {
        width: 100%;
    }
    .base-select-block div:first-child {
        margin-bottom: 20px;;
    }
    .base-select-block img {
        left: inherit;
        top: 57px;
    }
}