.invoice-item {
    width: 300px;
    height: 113px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
}
a:hover {
    text-decoration: none;
}
.invoice-item label {
    width: 100%;
    align-items: center;
}
.invoice-item h4 {
    margin-left: 20px;
    margin-top: 0;
}
.from-to  {
    margin-top: 20px;
}
.from-me {
    width: 40%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #58595B;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.from-me:hover {
    cursor: pointer;
}
.active-from-to {
    opacity: 0.5 !important;
}
.invoices-item-click {
    width: 222px;
    height: 190px;
    border-radius: 4px;
}
.invoices-item {
    height: 100%;
    padding: 24px;
    border: 1px solid #58595B;
}
.invoices-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.invoices-item-content-p {
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    text-align: center;
}
.invoices-item:hover {
    cursor: pointer;
}
.invoices-disable-item {
    opacity: 0.5;
}
.btn-tables {
    width: 95px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: white;
    border: 0;
    font-size: 14px;
}
.btn-paid {
    background: #8DE97F;
}
.btn-overdue {
    background: #F1646C;
}
.btn-viewed {
    background: #FAC174;
}
.btn-unpaid {
    background: #6DC9C9;
}
.btn-partial {
    background: #FFB2B2;
}
.btn-draft {
    background: #8B8D92;
}
.btn-saved {
    background: #8DC63F;
}
.btn-change {
    background: #AFACAC;
}
.invoices-first-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1700px) {
    .invoices-item-click {
        width: 17%;
        height: 160px;
    }

    .invoice-item {
        width: 100%;
        height: 88px;
    }

    .invoices-first-item {
        width: 20%;
    }

    .invoices-item-content-p {
        line-height: 20px;
        font-size: 14px;
    }

    .invoices-item img {
        width: 60px;
    }
}
@media (max-width: 1400px) {
    .from-me {
        font-size: 11px;
    }
    .invoice-item h4 {
        margin-left: 6px;
        font-size: 12px;
    }
    .invoice-item {
        padding: 6px;
    }
    .invoices-item {
        padding: 6px;
    }
    .invoices-item-content {
        justify-content: space-around;
    }
    .invoices-item img {
        width: 54px;
    }
    .btn-tables {
        width: 81px;
        padding: 0;
    }
    table td {
        font-size: 12px;
    }
    .table thead th {
        font-size: 14px;
    }
    .table thead th {
        vertical-align: baseline;
        text-align: center;
    }
}
@media (max-width: 992px) {
    .invoices .block-recently {
        justify-content: space-between;
    }
    .exp-clients-btn,
    .new-clients-btn {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .clients-btns {
        padding: 10px 0;
    }
    .prints-clients-btn,
    .exp-clients-btn,
    .new-clients-btn {
        width: 190px;
    }
    .clients-btns {
        flex-direction: column;
    }
    .invoice-item label {
        flex-direction: column;
    }
    .image-upload img {
        width: 32px;
    }
    .invoice-item h4 {
        margin-top: 7px;
    }
    .invoices-item img {
        width: 46px;
    }
    .invoices-item-content-p {
        line-height: 15px;
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .paid-faster {
        font-size: 15px;
    }
    .invoices .block-recently {
        flex-direction: column;
        align-items: center;
    }
    .invoices-first-item {
        width: 80%;
    }
    .invoices-item-click {
        width: 80%;
        margin-top: 20px;
    }
    .invoices-item-content-p {
        font-size: 14px;
        line-height: 17px;
    }
    .invoices-item img {
        width: 55px;
    }
}
